.main{
    margin-top: 50px;
    margin-left: 40px;
}

li{
    border:  2px solid black;
    text-decoration: none;
    width: 10%;
    height: 10%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: cursive;
    list-style: none;
 
}
 
li:hover{
    background-color: skyblue;
} 
